/* .barra-busqueda{
 position: absolute;
  width: 325px;
  height: 34px;
  left: 20px;
  top: 158px;
  
  background: #E5E3C9;
  border-radius: 30px;
 
} */
.slide{
  
  margin-left: 10px;
}
.catg{
  background:  #94B49F;
  height: 33px;
 

}
.catg2{
  background:  #94B49F;
  height: 33px;
  width: 189px;
  font-size: 16px;
  border-radius: 10px;
  left: 20px;
}
.slide-ofertas{
  height: 150px;
  width: 313px;


}