<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content >
        
        <ion-list  lines="none" >
          <ion-item class="usuario">
            <ion-label class="label" >
              <ion-icon class="" name='person-circle'></ion-icon>
              Usuario
            </ion-label>
          </ion-item>
              
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item class="lista" routerDirection="root" [routerLink]="[p.url]"  detail="false" routerLinkActive="selected">
              <ion-icon class="lista-content" slot="start"  [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="lista-content" trans>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-item lines="none" class="espacio"></ion-item>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
